asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
Django==4.2.14
django-cors-headers==4.6.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
gunicorn==23.0.0
idna==3.10
inflection==0.5.1
Naked==0.1.32
packaging==24.2
#psycopg-binary==3.2.3
psycopg2==2.9.10
pycryptodome==3.21.0
PyJWT==2.10.1
python-decouple==3.8
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
rest-framework-simplejwt==0.0.2
shellescape==3.8.1
sqlparse==0.5.3
uritemplate==4.1.1
urllib3==2.3.0
whitenoise==6.8.2
