packages:
  yum:
    git: []
    python3-devel: []
    gcc: []

commands:
  01_add_postgres_repo:
    command: sudo yum install -y https://download.postgresql.org/pub/repos/yum/reporpms/EL-7-$(uname -m)/pgdg-redhat-repo-latest.noarch.rpm
  02_install_postgresql:
    command: sudo yum install -y postgresql14-devel

  03_cleanup_yum:
    command: sudo yum clean all

files:
  "/etc/yum.repos.d/pgdg.repo":
    mode: "644"
    owner: "root"
    group: "root"
    content: |
      [pgdg14]
      name=PostgreSQL 14 for RHEL/CentOS 7 - x86_64
      baseurl=https://download.postgresql.org/pub/repos/yum/14/redhat/rhel-7-x86_64/
      enabled=1
      gpgcheck=0

  "/etc/profile.d/postgresql.sh":
    mode: "644"
    owner: "root"
    group: "root"
    content: |
      export PATH=$PATH:/usr/pgsql-14/bin

container_commands:
  01_reload_nginx:
    command: "nginx -s reload"

pip:
  - gunicorn
  - psycopg2
  - django
