option_settings:
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: "django-insecure-mta=)yw8hg%t$ecoz2-xpopb65qd8%xz%)cxispo*!3w#6_+7"
    DATABASES_ENGINE: "django.db.backends.postgresql"
    DATABASES_NAME: "postgres"
    DATABASES_USER: "df_admin"
    DATABASES_PASSWORD: "drone1234!"
    DATABASES_HOST: "dronefield-db.cbypjn6rsndy.ap-northeast-2.rds.amazonaws.com"
    DATABASES_PORT: "5432"
    EMAIL_HOST_USER: "dronefield@naver.com"
    EMAIL_HOST_PASSWORD: "rbrhks153"
    DJANGO_SETTINGS_MODULE: "core.settings"
    ALLOWED_HOSTS: "*"
