<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>개인정보처리방침</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            color: #333;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
개인정보처리방침<br>

제5조(개인정보의 제3자 제공)<br>
회사는 개인정보보호법에 근거하여 다음과 같은 내용으로 개인정보를 제3자에게 제공하고자 합니다.<br>
1. 개인정보를 제공 받는 제3자 : 드론 서비스 수요자<br>
2. 개인정보 제공 목적 : 상호 간 본인확인 및 거래 진행<br>
3. 개인정보 제공 항목 : 성명, 전화번호<br>
4. 개인정보 보유 및 이용기간 : 개인정보 제공 목적 달성일까지<br>
5. 개인정보 제공 거부 시 불이익 : 서비스 이용 중 일부제한<br><br>

본인은 위의 동의서 내용을 충분히 숙지하였으며, 위와 같이 개인정보 제3자 제공에 동의합니다.<br>
</body>
</html>
